body{background-color: white;
    margin:0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

@media(max-width: 500px){
  body{
  width: 100vw;
  }
}

.header{
    background-color: black;
    margin:0px;
    padding:0px;
}

.header-items{
    display: flex;
    justify-content:space-between;
    padding:0px 15px;
    margin: 0px 5%;
    height:10%
}

@media (max-width:500px) {
  .header-items{
    margin: 0;
  }
}

#header-items-logo{
    display:flex;
    width:100%;
    margin-top:20px;
}

#header-items-logo-container{
    display:flex;
    width: 50%;
    justify-content:flex-start;
    margin-left: 20%;
  }

  @media(max-width: 500px){
    #header-items-logo-container{
      margin-left: 0px;
    }
  }

#header-Button-mobile{
  margin-top: 4%;
}



#header-Button-mobile div{
  width: 25px;
  height: 4px;
  background-color: white;
  align-content: center;
  margin-top: 6px;
}

#header-Button-Mobile{
  display: none;
}

@media(max-width:500px) {
  #header-Button-Mobile{
    display: flex;
    flex-direction: column;
  }
}


  #header-items-navbar{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content:flex-start;
  }

  @media(max-width: 500px) {
    #header-items-navbar{
      display: none;
    }
  }

  #header-items-navbar-flex{
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-between;
    width:75%;
    margin-right: 20%;
    margin-top: 30px;
  }

  #header-items-navbar-flex a{
    text-decoration:none;
    font-weight: 700;
  }
  
  #header-items-navbar-flex-Premium, #header-items-navbar-flex-Assistenza, #header-items-navbar-flex-Scarica
  {
    color :white; 
  }

  #header-items-navbar-flex-Iscriviti, #header-items-navbar-flex-Accedi {
    color: rgb(200, 200, 200)
    
  }

  #header-items-navbar-flex a:hover{
    color: rgb(0, 255, 0)
  }

  .dynamicPremium{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(50, 50, 50);
    width: 350px;
    height: auto;
    margin-top: 23px;
    display: none;
  }

  .dynamicPremiumYes{
    display: block;
    z-index: 1;
  }

  .dynamicPremium a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
  }

  .dynamicPremium h1{
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .dynamicPremium h2{
    color: rgb(200, 200, 200);
    font-size: 12px;
    margin-top: 0px;
    margin-left: 20px;
  }

  #dynamicPremium-boxI, #dynamicPremium-boxD, #dynamicPremium-boxF, #dynamicPremium-boxS{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
  }

  #dynamicPremium-boxI:hover, #dynamicPremium-boxD:hover, #dynamicPremium-boxF:hover, #dynamicPremium-boxS:hover{
    background-color: black;
  }


  #WindowPremiumDynamic-Box{
    width: 100%;
    height: 25%;
    padding: 10px;
  }



  .mainSection{
    background-color: rgb(12, 12, 12);
  }

  .Pubblicità{
    background-image: url(images/sfondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-collapse: collapse;
  }

  .cambiaSfondo{
    background-image: url(images/Spotify.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    border-collapse: collapse;
  }

  @media(max-width: 500px){
    .Pubblicità{
      height: 650px;
      border-bottom: 1px solid gray;;
    }
  }

  #Pubblicità-flex-container{
    display: flex;
    width: auto;
    height: 450px;
    margin: 0px, 70px, 50px, 70px;
    align-items: center;
    z-index: 1;
    background: linear-gradient(to bottom,rgb(200, 162, 200) 0%, transparent 35%);
  }

  @media(max-width: 500px){
    #Pubblicità-flex-container{
      height: 90%;
      background: linear-gradient(to bottom,rgb(200, 162, 200) 0%, transparent 0%)
    }
  }

   #Pubblicità-flex-container-box{
    display: flex;
    width: 38%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 13%;
    margin-top: -270px;
   }

   @media(max-width: 500px){
    #Pubblicità-flex-container-box{
      width: 100%;
      margin-left: 0px;
    }
   }

   #boxA{
    padding: 20px;
    margin-top: 400px;
   }

   @media(max-width: 500px){
    #boxA{
      height: 90%;
      margin-top: 0px;
      margin-left: 0px;
    }
   }

   #boxA-header{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
   }



   @media(max-width: 500px){
    #boxA-header{
      margin-top: 350px;
      width: 100%;
    }
   }

   #boxA-header h1{
    font-size: 42px;
    font-weight: 700;
    color: white;
    margin-bottom: 0px;
   }

   @media(max-width: 500px){
    #boxA-header h1{
      font-size: 30px;
    }
   }

   #boxA-header h2{
    font-size: 15px;
    color: white;
    margin-bottom: 0px;
   }

   #ContenutoBoxA{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 35px 0px 28px 0px;
   }

   #ContenutoBoxA-Buttons{
    display:flex;
    height: 50px;
    width: 50%;
    justify-content: space-between;
   }

   @media(max-width: 500px){
   #ContenutoBoxA-Buttons{
      width: 100%;
      flex-direction: column;
    }
   }

   .boxA-button1{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#FFD2D7;
    border-radius: 40%/90%;
    padding:2% 15%;
    width: 30%;
    margin-right: 5%;
   }

   @media(max-width: 500px){
    .boxA-button1{
      width: 70%;
      height: auto;
      margin-bottom: 10px;
      border-radius: 10%/90%;
      padding: 4% 15%;
    }
   }

   .boxA-button1 span{
    align-items: center;
    font-weight: bold;
    color:black;
    font-size: 15px;
  }

  #boxA-button2{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:10%/50%;
    border: 1px solid rgb(255, 255, 255);
    padding:2% 15%;
    white-space: nowrap;
    background-color: black;
  }

  
  @media(max-width: 500px){
    #boxA-button2{
      border-radius:10%/90%;
      padding: 4% 15%;
      height: auto;
    }
  }
  
  #boxA-button3{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:70px;
    border: 1px solid rgb(255, 255, 255);
    padding:2% 15%;
    white-space: nowrap;
    background-color: black;
    margin-left: 10px;
  }

  @media(max-width: 500px){
    #boxA-button3{
      border-radius: 70px;
      padding: 4% 15%;
      height: auto;
      margin-top: 10px;
      width: 70%;
      margin-left: 0px;
    }
  }

  .boxA-button1:hover, #boxA-button2:hover, #boxA-button3:hover{
    transform: scale(1.05);
  }

  #ContenutoBoxA-Buttons a{
    text-decoration:none;
    color:white;
    font-size:15px;
    font-weight: bold;
}

#ContenutoBoxA-ptext{
  width: 70%;
  color:white;
  font-size: 10px;
  margin-top: 15%;
  margin-left: -270px;
}

@media(max-width: 500px){
  #ContenutoBoxA-ptext{
    margin-top: 40%;
    margin-left: -450px;
    width: 90%;
  }
}

#ContenutoBoxA-ptext a{
  color:white;
  text-decoration: underline;
}

/*#header-Button-mobile{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: right;
}

#MenuTendina-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  z-index: 1;
  background-color: rgb(50, 50, 50);
}

#MenuTendina-flex-container-BoxPremium{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#MenuTendina-flex-container-BoxPremium a{
  border-radius: 10%/50%;
}
*/

.Ricerca{
  margin-top: 100px;
}

#Ricerca-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Ricerca-flex-container-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

#Ricerca-flex-container-box-Header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Header{
    margin-top: 0%;
  }
}

#Ricerca-flex-container-box-Header h1{
  color: white;
  font-size: 50px;
  margin-bottom: 0px;
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Header h1{
    font-size: 30px;
    margin-bottom: 0px;
  }
}

#Ricerca-flex-container-box-Header h2{
  color: white;
  font-size: 25px;
  margin-bottom: 7%;
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Header h2{
    font-size: 15px;
    margin-bottom: 30%;
  }
}

#Ricerca-flex-container-box-Barra {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 70%;
  height: 50px;
  border-radius: 3.5%/60%;
  text-decoration: none;
  color: grey
}

#Ricerca-flex-container-box-Barra-svg{
  margin-left: 10px;
}

#Ricerca-flex-container-box-Barra-testo{
  margin-left: 10px;
}
#Ricerca-flex-container-box-Barra-testo-input{
  border: none;
  margin-left: 10px;
}



#Ricerca-flex-container-box-Barra-testo-submit{
  background-color: rgb(60, 150, 60);
  color: black;
  align-items: center;
  height: 75%;
  width: 100px;
  font-size: 15px;
  border: none;
  border-radius: 15%/40%;
  margin-left: 10px;
}

#Ricerca-flex-container-box-Barra-Mobile{
  display: none;
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Barra{
    display: none;
  }
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Barra-Mobile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 110%;
    height: 50px;
    border-radius: 3.5%/60%;
    text-decoration: none;
    margin-top: 0px;
  }
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Barra-svg_mobile{
    margin-left: 10px;
  }
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Barra-testo_mobile{
    margin-left: 10px;
  }
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Barra-testo-input_mobile{
    width: 50%;
  }
}

@media(max-width: 500px){
  #Ricerca-flex-container-box-Barra-testo-submit_mobile{
    background-color: rgb(60, 150, 60);
    color: black;
    align-items: center;
    height: 70%;
    width: 19%;
    font-size: 15px;
    border: none;
    border-radius: 15%/40%;
    margin-left: 0.75%;
  }
}



#Album-view {
  display: flex;
  flex-wrap: wrap;
}

#Album-view .album {
  margin: 10px;
  border: 1px solid slategray;
  padding: 5px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  color: white;
}

#Album-view .didascaliaAlbum {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


#Album-view img {
  max-width: 100%;
}

#Brano-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Brano-view .brano{
  margin: 10px;
  border: 1px solid slategray;
  padding: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  color: white;
}

#Brano-view .didascaliaBrano{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#Artista-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Artista-view .artista {
  margin: 10px;
  border: 1px solid slategray;
  padding: 5px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  color: white;
}

#Artista-view .didascaliaArtista {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


#Artista-view img {
  max-width: 100%;
}


.Classifiche{
  margin-top: 100px;
}

@media(max-width: 500px){
  .Classifiche{
    display: none;
  }
}

#Classifiche-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Classifiche-flex-container-boxC{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#Classifiche-flex-container-box-Header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#Classifiche-flex-container-box-Header h1{
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
  text-wrap: nowrap;
}

#Classifiche-flex-container-box-Header h2{
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

#Classifiche-flex-container-box-Header h3{
  color: white;
  font-size: 15px;
  margin-bottom: 7%;
}




#Classifiche-flex-container-box-Buttons{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#Classifiche-flex-container-box, #Classifiche-flex-container-box_1{
  width: 15%;
  margin-left: 10px;
  align-items: center;
}
#Classifiche-flex-container-box-submit, #Classifiche-flex-container-box-submit_1{
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 93%;
  height: 200px;
}

#Classifiche-flex-container-box-submit{
  background-image: url("images/Top50.png");
}

#Classifiche-flex-container-box-submit_1{
  background-image: url("images/Italy.png");
}

#Classifiche-flex-container-boxC-LastBox{
  color: white;
  font-size: 15px;
}

@media(max-width: 500px){
  .Vantaggi{
    border-bottom: 1px solid gray;
    height: 1000px;
  }
}


#Vantaggi-flex-container{
  display: flex;
  justify-content: center;
  padding: 2% 8%;
  margin: 0px 55px;
  width: 70%;
  margin-left: 6%;
}

@media(max-width: 500px){
  #Vantaggi-flex-container{
    margin-top: 0px;
  }
}

#Vantaggi-flex-container-box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#BoxB{
  padding: 20px;
}

@media(max-width: 500px){
  #BoxB{
    width: 100%;
  }
}

#BoxB-header{
  font-weight: 700;
  color: white;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}


@media(max-width: 500px){
  #BoxB-header
  {
    width: 90%;
    margin-left: 0px;
  }
}

#BoxB-header h1{
  font-size: 55px;
  font-weight: 700;
  color: white;
  margin-bottom: 0px;
}

@media(max-width: 500px){
  #BoxB-header h1{
    font-size: 25px;
    white-space: nowrap;
    font-weight: bold;
    width: 230px;
    margin-left: 27%;
  }
}

#BoxB-header h2{
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
}

@media(max-width: 500px){
  #BoxB-header h2{
    font-size: 15px;
    width: 450px;
  }
}

#ContenutoBoxB{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}

#ContenutoBoxB-Tabella{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%; 
  border-collapse: collapse; 
  
}

@media(max-width: 500px){
  #ContenutoBoxB-Tabella{
    width: 90%;
  }
}

#ContenutoBoxB-Tabella-Intestazione{
  color: white; 
}

th{
  text-align: left; 
  padding: 10px; 
  font-weight: bold; 
  border-bottom: 1px solid #ddd;
}

td {
  padding: 4px; 
  text-align: left; 
  color: white;
  border-bottom: 1px solid #ddd; 
}


#td-img{
  text-align: center;
}


td img {
  width: 50px;  
  height: auto;

}
#pRowTable{
  text-decoration: underline dashed white;
  text-underline-offset: 4px;
}

tr:hover {
  background-color: gray    
}

#contenutoBoxB-Tabella h1{
  margin: 20%;
  font-size: 50px;
  text-align: center;
}

@media(max-width: 500px){
  .Piani{
    border-bottom: 1px solid gray;
  }
}

#Piani-flex-container{ 
  display: flex;
  justify-content: center;
  padding: 2% 8%;
  margin: 0px 55px;
  width: 70%; 
}

#Piani-flex-container-box{ 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#BoxC{
  padding: 20px;
}

#BoxC-header{
  font-size: 30px;
  color: white;
  width: 75%;
  margin-left: 15%;
  margin-right: 20%;
}

@media(max-width: 500px){
  #BoxC-header{
    width: 40%;
    margin-left: 24%;
  }
}

#BoxC-header h1{
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin-bottom: 0px;
  white-space: nowrap;
}

@media(max-width: 500px){
  #BoxC-header h1{
    font-size: 30px;
    white-space: wrap;
    width: 90%;
    margin-left:15%;
  }
}

#BoxC-header h2{
  font-size: 15px;
  color: white;
  margin-bottom: 0px;
}

@media(max-width: 500px){
  #BoxC-header h2{
    font-size: 15px;
    white-space: wrap;
    width: 90%;
    margin-left: 15%;
  }
}

#BoxC-ContenutoBoxC{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC{
    width: 55%;
  }
}

#BoxC-ContenutoBoxC-Pagamenti{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-right: 0.025%;
  margin-left: 5%;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-Pagamenti{
    margin-left: 72.5%;
    width: 50%;
  }
}

#BoxC-ContenutoBoxC-Pagamenti-ContenitoreImmagine{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  margin: 0px 5px;
  background-color: white;
  border: 3px solid gray ;
  border-radius: 10px;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-Pagamenti-ContenitoreImmagine{
    height: 50px;
    width: 200px;
    border-radius: 10px;
  }
}




#BoxC-ContenutoBoxC-Pagamenti img{
  width: 80%;
  height: auto;
}

#BoxC-ContenutoBoxC-DescrizioneInclusioni{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

#BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer{
  display: flex;
  justify-content: center;
  gap: 10%;
}

#BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox{
  color: white;  
  padding: 20px;
  
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox{
    width: 25%;
    margin-left: 20%;
  }
}

#BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox1{
  height: auto;
  width: auto;
  margin-top: 17%;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox1{
    width: 100%;
    margin-left: 0px;
    margin-top: 90%;
  }
}

#BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer h1{
  color: white;
  font-size: 30px;
  white-space: nowrap;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer h1{
    white-space: wrap;
    font-size: 20px;
  }
}

#BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox2{
  width: auto; 
  height: auto;
  text-align: left;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox2{
    width: 50%;
  }
}


#BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox2 p{
  font-size: 100%;
  color: white;
  white-space: nowrap;
}

@media(max-width: 500px){
  #BoxC-ContenutoBoxC-DescrizioneInclusioni-FlexContainer-SubBox2 p{
    white-space: wrap;
  }
}

@media(max-width: 500px){
  .Abbonamenti{
    border-bottom: 1px solid gray;
    height: 2355px;
  }
}

#Abbonamenti-flex-container{
  display: flex;
  justify-content: space-around;
  padding: 2% 8%;
  margin: 0px 55px;
  width: 70%;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 6%;
  height: 1000px;
}

@media(max-width: 500px){
  #Abbonamenti-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    height: 2500px;
    padding: 2% 1%;
    margin-top: 30px;
  }
}


#BoxD-ContenutoBoxD-flexContainer-Box, #BoxD-ContenutoBoxD-flexContainer-BoxFamily {
  background-color: rgb(50, 50, 50);
  color: white; 
  align-items: center;
  border-radius: 10px;
  border: solid gray;
  width: 30%;
}

@media(max-width: 500px){
  #BoxD-ContenutoBoxD-flexContainer-Box, #BoxD-ContenutoBoxD-flexContainer-BoxFamily{
     width: 80%;
     margin-left: 0px;
     align-items: center;
     width: 85%;
  }
}
#BoxD-ContenutoBoxD-flexContainer-Box{
  min-height: 600px;
  margin-bottom: 35px;
}

@media(max-width: 500px){
  #BoxD-ContenutoBoxD-flexContainer-Box{
    margin-bottom: 30px;
    height: auto;
  }
}

#BoxD-ContenutoBoxD-flexContainer-BoxFamily{
  min-height: 350px;
}

@media(max-width: 500px){
  #BoxD-ContenutoBoxD-flexContainer-BoxFamily{
    height: 400px;
  }
}

#navBox-flex-container{
  display: flex;
  justify-content: flex-start;
  width: auto;
  align-items: center;
}

#navBox1, #navBox2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
  border-radius: 10%;
}

#navBox1-ContenitoreTesto, #navBox2-ContenitoreTesto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  margin-top: 10%;
}



#navBox1 p, #navBox2 p{
  color: black;
  margin-top: 0px;
  white-space: nowrap;
  font-size: 85%;
  font-weight: bold;
}

#navBox1{
  background-color: rgb(255, 210, 215);
}

#navBox2{
  background-color: rgb(196, 177, 212);
}

#BoxD-ContenutoBoxD-flexContainer-Box img, #BoxD-ContenutoBoxD-flexContainer-BoxFamily img{
  margin-top: 7%;
  width: 45%;
  margin-left: 3%;
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header{
  border-bottom: solid gray;
  height: auto;
  border-collapse: collapse;
  margin-top: 0px;
}


#BoxD-ContenutoBoxD-flexContainer-Box-Header h1{
  font-size: 30px; 
  margin-bottom: 0px;
  margin-left: 3%;
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header-Individual{
  color:rgb(255, 210, 215);
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header-Student{
  color: rgb(196, 177, 212);
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header-Duo{
  color: rgb(204, 173, 0);
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header-Family{
  color:rgb(173, 216, 230);
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header h2{
  margin-top: 2px;
  font-size: 85%;
  margin-left: 3%;
}

#h2-Individual, #h2-Student{
  margin-bottom: 0px;
}

#BoxD-ContenutoBoxD-flexContainer-Box-Header h3{
  font-size:75%;
  margin-left: 3%;
  margin-top: 2px;
  color: rgb(145, 128, 128);
}

#Abbonamenti-flex-container-boxLista, #Abbonamenti-flex-container-boxFamilyLista{
  height: 8%;
  width: auto;
  margin-top: 5%;
  margin-bottom: 20px;
}

@media(max-width: 500px){
  #Abbonamenti-flex-container-boxFamilyLista{
    margin-bottom: 10%;
  }
}

#Abbonamenti-flex-container-boxButton-flex-container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin-top: 0px;
 }

 #Abbonamenti-flex-container-boxButton-flex-container a{
  text-decoration: none;
 }

 #Abbonamenti-flex-container-boxButton-flex-container span{
  color: black;
  font-size: 125%;
  font-weight: bold;
 }

 #Abbonamenti-flex-container-boxButton-flex-container-Individual,#Abbonamenti-flex-container-boxButton-flex-container-Student, #Abbonamenti-flex-container-boxButton-flex-container-Duo, #Abbonamenti-flex-container-boxButton-flex-container-Family{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%/80%;
  margin-left: 5%;
  width: 100%;
  height: 40px;
  padding: 2% 0.5%;
 }

#Abbonamenti-flex-container-boxButton-flex-container-Individual:hover,#Abbonamenti-flex-container-boxButton-flex-container-Student:hover, #Abbonamenti-flex-container-boxButton-flex-container-Duo:hover, #Abbonamenti-flex-container-boxButton-flex-container-Family:hover {
  transform: scale(1.05);
}


 #Abbonamenti-flex-container-boxButton-flex-container-Individual{
  background-color: rgb(255, 210, 215);

 }

 #Abbonamenti-flex-container-boxButton-flex-container-Student{
  background-color: rgb(196, 177, 212);
 }

 #Abbonamenti-flex-container-boxButton-flex-container-Duo{
  background-color: rgb(204, 173, 0);
 }

 #Abbonamenti-flex-container-boxButton-flex-container-Family{
  background-color: rgb(173, 216, 230);
 }

 #Abbonamenti-flex-container-boxButton-flex-container-Descrizione{
  text-align: center;
  width: 90%;
  height: 5%;
  margin-left: 10%;
  color: rgb(145, 128, 128);
  font-size: 80%;
 }

@media(max-width: 500px){
  #Abbonamenti-flex-container-boxButton-flex-container-Descrizione{
    margin-bottom: 0px;
  }
}

 #Abbonamenti-flex-container-boxButton-flex-container-Descrizione a{
  color: rgb(145, 128, 128);
  text-decoration: underline;
 }

 #Domande-flex-container{
  display: flex;
  justify-content: center;
  padding: 2% 8%;
  margin: 0px 0px;
  width: 80%; 
}

@media(max-width: 500px){
  #Domande-flex-container{
    width: 85%;
  }
}

#Domande-flex-container-Box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 2%;
}

@media(max-width: 500px){
  #Domande-flex-container-Box{
    width: 100%;
    margin-left: 0px;
  }
}

#Domande-flex-container-Box-header{
  font-size: 30px;
  font-weight: 700;
  color: white;
  width: 75%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#Domande-flex-container-Box-header h1{
  font-size: 35px;
  font-weight: 700;
  color: white;
  margin-bottom: 0px;
}

#Domande-flex-container-Box-header h2{
  font-size: 15px;
  font-weight: 350;
  color: white;
  margin-bottom: 0px;
}

#Domande-flex-container-Box-header h3{
  font-size: 15px;
  font-weight: 350;
  color: white;
  margin-bottom: 0px;
}

#Domande-flex-container-Box-header h3 a{
  color: white;
  text-decoration: underline;
}

#Domande-flex-container-Box-Contenuto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: auto;
  margin-top: 2.5%;
}

@media(max-width: 500px){
  #Domande-flex-container-Box-Contenuto{
    width: 100%;
  }
}

.Domanda_ContenitoreDomanda{
  background-color: rgb(30, 30, 30);
}

.DomandaContenitoreTesto{
  padding: 20px;
  background-color: black;
  color: white;
}

.DomandaContenitoreLink{
  margin-top: 15px;
}

.modificaLink{
  color: white;
}

#Domande-flex-container-Box-Contenuto-a1,  #Domande-flex-container-Box-Contenuto-a2, #Domande-flex-container-Box-Contenuto-a3, #Domande-flex-container-Box-Contenuto-a4, #Domande-flex-container-Box-Contenuto-a5, #Domande-flex-container-Box-Contenuto-a6{
  text-decoration: none;
}

#Domande-flex-container-Box-Contenuto-Domanda, #Domande-flex-container-Box-Contenuto-DomandaItalia{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#Domande-flex-container-Box-Contenuto-DomandaItalia:hover, #Domande-flex-container-Box-Contenuto-Domanda:hover{
  text-decoration: underline;
  text-decoration-color: white;
  background-color: rgb(30, 30, 30);
}

#Domande-flex-container-Box-Contenuto-Domanda{
  border-bottom: 1px solid gray;
}



#Domande-flex-container-Box-Contenuto-Domanda-ContenitoreTesto{
  color: white;
  margin-left: 2%;
}

#Domande-flex-container-Box-Contenuto-Domanda-ContenitoreTesto p{
  font-size: 17.5px;
  font-weight: bold;
}

footer{
  background-color: black;
  height: 550px;
}

@media(max-width: 500px){
  footer{
    height: 1300px;
  }
}

#footer-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 5%;
}

@media(max-width: 500px){
  #footer-flex-container{
    height: 100%;
  }
}

#footer-flex-container-box{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 85%;
height: 100%;
}

@media(max-width: 500px){
  #footer-flex-container-box{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}

#footer-flex-container-box-Alto{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  margin-top: 100px;
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    height: 1140px;
  }
}

#footer-flex-container-box-Alto-LogoContainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 17%;
  height: 65%;
  margin-right: 0px;
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto-LogoContainer{
    height: 40px;
    margin-bottom: 30px;
  }
}

#footer-flex-container-box-Alto-LogoContainer-Logo{
  display: flex;
  justify-content: center;
  height: 20%;
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto-LogoContainer-Logo{
    height: 100%;
  }
}


#footer-flex-container-box-Alto-LogoContainer-Logo img{
 height: 100%;
}

#footer-flex-container-box-Alto-TableContainer{
  display: flex;
  justify-content: center;
  width: 55%;
  margin-left: -100px;
  margin-top: -30px;
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto-TableContainer{
    width: 100%;
    flex-direction: column;
    margin-left: 0px;
  }
}

#footer-flex-container-box-Alto-TableContainer-BoxColonna{
  display: flex;
  justify-content:left;
  width: 25%;
  align-items:flex-start;
  flex-direction: column;
  margin-bottom: 0px;
}



#Intestazione p{
  color: gray;
  font-size: 15px;
}

#footer-flex-container-box-Alto-TableContainer-BoxColonna ul{
  margin-left: 0px;
}

#footer-flex-container-box-Alto-TableContainer-BoxColonna li{
  margin-left: 0px;
  text-align: left;
  margin-bottom: 15%;
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto-TableContainer-BoxColonna li{
    margin-left: -30px;
    white-space: nowrap;
  }
}

#footer-flex-container-box-Alto-TableContainer-BoxColonna-ContenitoreLi{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 0px;
}



#footer-flex-container-box-Alto-TableContainer-BoxColonna-ContenitoreLi a{
  text-decoration: none;
  color: white;
  font-weight: 200;
}

#footer-flex-container-box-Alto-TableContainer-BoxColonna-ContenitoreLi a:hover{
  color: rgb(0, 255, 0);
}

#footer-flex-container-box-Alto-SocialContainer{
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 20px;
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto-SocialContainer{
    margin-top: 20px;
    width: 30%;
  }
}

@media(max-width: 500px){
  #footer-flex-container-box-Alto-SocialContainer-BoxI img, #footer-flex-container-box-Alto-SocialContainer-BoxX img, #footer-flex-container-box-Alto-SocialContainer-BoxF img{
    width: 50px;
  }
}



#footer-flex-container-box-Basso{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

@media(max-width: 500px){
  #footer-flex-container-box-Basso{
    width: 500px;
    margin-top: -115px;
  }
}

#footer-flex-container-box-Basso-LinkContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-left: 2.5%;
  margin-right: 20%;
  gap: 25px;
}

@media(max-width: 500px){
  #footer-flex-container-box-Basso-LinkContainer{
    width: 400px;
    flex-wrap: wrap;
  }
}

#footer-flex-container-box-Basso-LinkContainer a{
  color: gray;
  white-space: nowrap;
  font-size: 12.5px;
  text-decoration: none;
}



#footer-flex-container-box-Basso-LinkContainer a:hover{
  color: rgb(0, 255, 0);
}

#footer-flex-container-box-Basso-CopyrightContainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -124px;
  margin-left: -130px;
}

@media(max-width: 500px){
#footer-flex-container-box-Basso-CopyrightContainer {
margin-top: -180px;
  }
}

#footer-flex-container-box-Basso-CopyrightContainer-Italia, #footer-flex-container-box-Basso-CopyrightContainer-Spotify{
  margin-left: 50%;
  text-align: right;
}


#footer-flex-container-box-Basso-CopyrightContainer-Italia{
  margin-top: 50%;
}

@media(max-width: 500px){
  #footer-flex-container-box-Basso-CopyrightContainer-Italia{
    margin-top: 0px;
  }
}

#footer-flex-container-box-Basso-CopyrightContainer-Spotify p, #footer-flex-container-box-Basso-CopyrightContainer-Italia a{
  color: gray;
  white-space: nowrap;
  text-decoration: none;
  font-size: 12.5px;
}

#footer-flex-container-box-Basso-CopyrightContainer-Spotify{
  margin-right: 155px;
}

@media(max-width: 500px){
    #footer-flex-container-box-Basso-CopyrightContainer-Spotify p{
    text-align: left;
  }
}

@media(max-width: 500px){
  #footer-flex-container-box-Basso-CopyrightContainer-Italia{
    margin-right: 10%;
  }
}